$headerHeight: 66px;

.main-wrapper {
  height: 100vh;
}

.feed-index {
  display: flex;
  flex-flow: row nowrap;
  overflow-y: auto;
  height: calc(100vh - #{$headerHeight});

  &.is-open {
    overflow-y: hidden;

    .feed-list {
      width: 50%;
    }
    .feed-contents {
      width: 50%;
    }
  }
}

.feed-list {
  flex: 1 0 auto;
  width: 100%;
  transition: width 200ms ease;
}

.feed-contents {
  flex: 1 0 auto;
  width: 0;
  transition: width 200ms ease;
}

.tools {
  height: 60px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}